{% include base_path %}

<!-- start custom head snippets -->

<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script>
  MathJax = {
    tex: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true,
      tags: 'all'
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

<!-- end custom head snippets -->
